@charset "utf-8";
/* CSS Document */
/* navbar */
nav {
	background-color: #035575;
}

/*.nav-link:hover{
	color: #bf9969;
}*/

/* logo in nav */

.box {
  width: 75px;
  height: 75px;
  border-radius: 500px;
  box-shadow: 0 2px 30px rgba(black, .2);
  background: lighten(#000000, 10%);
  
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

hr{
    background-color: #035575;
}

.border-class{
    border: thick black solid;
    margin: 20px;
    padding: 20px;
}

/* jumbotrons */

.bg-home{
	background-image: url("../images/homejumbo.jpg");
	background-position: center;
	position: relative;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 500px;
	font-family: "Dosis" ;
}

.bg-aboutus{
    background-image: url(../images/jump.jpg);
    background-position: center;
	position: relative;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 500px;
    font-family: "Dosis" ;
}

.bg-feedback{
    background-image: url(../images/feedback2.jpg);
    background-position: center;
	position: relative;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 500px;
    font-family: "Dosis" ;
}

.bg-guide{
    background-image: url(../images/guide1.jpg);
    background-position: center;
	position: relative;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 500px;
    font-family: "Dosis" ;
}

.bg-comprobs{
    background-image: url(../images/teeth1.jpg);
    background-position: center;
	position: relative;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 500px;
    font-family: "Dosis" ;
}

.bg-ortho{
    background-image: url(../images/planning1.jpg);
    background-position: center;
	position: relative;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 500px;
    font-family: "Dosis" ;
}

.bg-treatoptions{
    background-image: url(../images/treatment1.jpg);
    background-position: center;
	position: relative;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 500px;
    font-family: "Dosis" ;
}

.bg-retainers{
    background-image: url(../images/retainers2.jpg);
    background-position: center;
	position: relative;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 500px;
	font-family: "Dosis" ;
	
    
}

.wave {
  opacity: .4;
  position: absolute;
  top: 3%;
  left: 50%;
  background: #fff;
  width: 350px;
  height: 275px;
  margin-left: -120px;
  margin-top: 60px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 5000ms infinite linear;
}

.wave.-three {
  animation: drift 6000ms infinite linear;
}

.wave.-two {
  animation: drift 8000ms infinite linear;
  opacity: .1;
  background: #2c00ff;
}

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

.title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  line-height: 80px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: #f8f9fa;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  letter-spacing: .4em;
  font-size: 7px;
  text-shadow: 0 1px 0 rgba(black, .1);
  text-indent: .3em;
}
@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

/* End logo animation */

/* heading styles */

.headColor {
	color: #035575;
	font-family: "Dosis" ;
}


/* carousel */
carousel {
	max-height: 500px;
}
/* footer */
.footer{
	background-color: #ffe3b8;
}
/* social media links */
.social:hover{
	opacity: 0.6;
	
}

/* Products Styles */
.cardBorder{
	border: 0;
}

.cardH {
	min-height: 500px;
}

/*Beginning button animation*/



/*End Button animation*/


/* Title letters beggining */


/* Title letter ending */

@media screen and (max-width: 768px) {
	.mediaPush {
		margin-top: 125px;
		position: relative;
	}
}

.cardProd {
	min-height: 400px;
}

.cardProdB {
	min-height: 200px;
}